In [11]:
# Import Dependencies and CSV File
import pandas as pd

restaurants_csv = pd.read_csv("../Resources/az_yelp_business.csv")
restaurants_csv.head()

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,"""Dental by Design""","""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
1,"""Western Motor Vehicle""","""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,Departments of Motor Vehicles;Public Services ...
2,"""Sports Authority""","""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,Sporting Goods;Shopping
3,"""CubeSmart Self Storage""","""2414 South Gilbert Road""",Chandler,AZ,85286,33.271720,-111.791257,5.0,23,Local Services;Self Storage
4,"""T & Y Nail Spa""","""8411 W Thunderbird Rd, Unit 101""",Peoria,AZ,85381,33.608654,-112.240012,3.0,20,Beauty & Spas;Nail Salons

In [3]:
### Dataframe Display Options
# pd.set_option('display.max_rows', None)
# pd.reset_option('display.max_rows')

In [5]:
# Filter out for only restaurants
rest = restaurants_csv.loc[restaurants_csv['categories'].str.lower().str.contains("restaurant")].reset_index(drop=True)
# Remove paranthesis
rest['name'] = rest['name'].str.replace('"','')
rest['address'] = rest['address'].str.replace('"','')
# Drop categories NA
rest['categories'] = rest['categories'].dropna()
# Lowercase categories for easier use
rest['categories'] = rest['categories'].str.lower().astype(str)

In [7]:
# Remove non-restaurants
notRest = 'marketing|clothing|shops|advertising|schools|lakes|shopping|printing|convenience stores|yelp|grocery|golf|cafeteria|food court|stadiums & arenas|supernatural readings|veterinarians|hotels|event planning & services|hospitals|home services|markets|spas|adult entertainment|trucks|cinema'
rests = rest.loc[rest['categories'].str.contains(notRest)==False]

In [8]:
def newCat(x):
    '''
    Function to clean and group categories into major category groupings.
    '''
    cat = x['categories']
    if 'american' in cat:
        return "American"
    elif 'italian' in cat:
        return "Italian"
    elif 'japanese' in cat:
        return "Japanese"
    elif 'mexican' in cat:
        return "Mexican"
    elif 'chinese' in cat:
        return "Chinese"
    elif 'viet' in cat:
        return "Vietnamese"
    elif 'mediterranean' in cat:
        return 'Mediterranean'
    elif 'hawaiian' in cat:
        return 'Hawaiian'
    elif 'thai' in cat:
        return 'Thai'
    elif 'pizza' in cat:
        return 'Italian'
    elif 'greek' in cat:
        return 'Mediterranean'
    elif 'indian' in cat:
        return 'Indian'
    elif 'asian fusion' in cat:
        return 'Asian Fusion'
    elif 'filipino' in cat:
        return 'Filipino'
    elif 'coffee & tea' in cat:
        return 'American'
    elif 'burgers' in cat:
        return 'American'
    elif 'sandwiches' in cat:
        return 'American'
    elif 'barbeque' in cat:
        return 'American'
    elif 'sushi' in cat:
        return 'Japanese'
    elif 'hot dogs' in cat:
        return 'American'
    elif 'steakhouses' in cat:
        return 'American'
    elif 'chicken wings' in cat:
        return 'American'
    elif 'middle eastern' in cat:
        return 'Middle Eastern'
    elif 'cajun' in cat:
        return 'American'
    elif 'fish & chips' in cat:
        return 'American'
    elif 'french' in cat:
        return 'French'
    elif 'korean' in cat:
        return 'Korean'
    elif 'cuban' in cat:
        return 'Cuban'
    elif 'diner' in cat:
        return 'American'
    elif 'deli' in cat:
        return 'American'
    elif 'peruvian' in cat:
        return 'American'
    elif 'tex-mex' in cat:
        return 'Mexican'
    elif 'ice cream & frozen yogurt' in cat:
        return 'American'
    elif 'caribbean' in cat:
        return 'Caribbean'
    elif 'soul food' in cat:
        return 'American'
    elif 'german' in cat:
        return 'German'
    elif 'cafes' in cat:
        return 'American'
    elif 'buffets' in cat:
        return 'American'
    elif 'seafood' in cat:
        return 'American'
    elif 'sports bar' in cat:
        return 'American'
    elif 'dive' in cat:
        return 'American'
    elif 'spanish' in cat:
        return 'Spanish'
    elif 'chicken shop' in cat:
        return 'American'
    elif 'juice bars & smoothies' in cat:
        return 'American'
    elif 'tapas' in cat:
        return 'Mexican'
    elif 'ethiopian' in cat:
        return 'Ethiopian'
    elif 'irish' in cat:
        return 'Irish'
    elif 'russian' in cat:
        return 'Russian'
    elif 'vegetarian' in cat:
        return 'American'
    elif 'bakeries' in cat:
        return 'American'
    elif 'polish' in cat:
        return 'Polish'
    elif 'cambodian' in cat:
        return 'Cambodian'
    elif 'british' in cat:
        return 'British'
    elif 'southern' in cat:
        return 'American'
    elif 'comfort food' in cat:
        return 'American'
    elif 'mongolian' in cat:
        return 'Mongolian'
    elif 'persian' in cat:
        return 'Persian'
    elif 'european' in cat:
        return 'European'
    elif 'turkish' in cat:
        return 'Turkish'
    elif 'burmese' in cat:
        return 'Burmese'
    elif 'brazilian' in cat:
        return 'Brazilian'
    elif 'kosher' in cat:
        return 'Kosher'
    elif 'afghan' in cat:
        return 'Middle Eastern'
    elif 'halal' in cat:
        return 'Halal'
    elif 'czech' in cat:
        return 'Czech'
    elif 'african' in cat:
        return 'African'
    else:
        return 'American'

# Create new Category Column using the newCat Function
rests['category'] = rests.apply(lambda x: newCat(x),axis=1)

In [13]:
rests['category'].value_counts().to_frame()

                category
American            5154
Italian             1427
Mexican             1390
Chinese              567
Japanese             353
Mediterranean        259
Thai                 142
Indian               114
Vietnamese           111
Hawaiian              56
Asian Fusion          51
French                25
Middle Eastern        25
Caribbean             22
Irish                 17
Korean                15
Filipino              10
Spanish                9
German                 8
Cuban                  8
Ethiopian              7
British                7
Polish                 5
Turkish                3
African                2
Russian                1
Czech                  1
Burmese                1
Mongolian              1
Brazilian              1
European               1
Kosher                 1
Persian                1

In [337]:
# Create Cleaned Restaurants Csv File
restaurants_csv.to_csv("../Resources/az_yelp_restaurants_categories_grouped.csv",index=False)

In [336]:
# Create Cleaned Restaurants Json File
restaurants_csv.to_json("../Resources/az_yelp_restaurants.json", orient="records")